{% load static %}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
  <head>
	  <meta charset="UTF-8">
	  <title>Login & Register</title>
      <link rel="stylesheet" type="text/css" href="{% static 'login.css' %}">
	  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>

<body>
<div class="container">
{% include 'header.html' %}
{% block content %}{% endblock %}
        </div>
<div class="wrapper">
 <div class="form_container">
     <i class="uil uil-times form_close"></i>
     <div class="form login_form">
  <h2>Login Here....</h2>
     <form action="login" method="post">
         {% csrf_token %}
            <div class="form-field d-flex align-items-center">
                <span class="fa fa-user"></span>
                <input type="text" name="username" id="username" placeholder="username">
            </div>
            <div class="form-field d-flex align-items-center">
                <span class="fa fa-key"></span>
                <input type="password" name="password" id="password" placeholder="password">
            </div>
            <button class="btn mt-3">Login</button>
        <div class="text-center fs-6">
            <a href="#">Forget password?</a>
        </div>
  <div class="register-link">Don't have account<a href="register" id="register">Register Now</a></div>
  </form>
     </div>
    </div>
</div>
</body>
</html>